@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1,
p {
  margin: 0.5rem 0;
}
.container {
  background: url("asset/bg-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 160px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socmed {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

a.cta {
  margin: 2rem;
  text-decoration: none;
  color: #333;
  background: #fff;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 100px;
}
